*{
    
    
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;

}



#top{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px ;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkred;
    margin-left: 15px;
    

    height: 80px; 
    
    
    
    
}

#text{
    color:rgb(120, 3, 3);
    text-align: center;
}

.container{
    
    display: flex;
    
    
    
    

}
#inner1{
    font-size: 25px;
    line-height: 100px;
    font-family: cursive;
    color: black;
    
    
    
    
    
    
    margin-top: 50px;

    width: 50%;
    
    padding-right: 50px;
    padding-left: 35px;
    padding-bottom: 50px;
    padding-top: 20px;
    height: 550px;
    border: 2px solid rgb(81, 0, 139, 1)
}

#inner2{
    
    /*background-color: black;
    opacity: 0.9;
    */
    padding-left: 50px;
    
    width: 50%;
   
    
    
    
    margin-right: 0px;

}


input.checkbox{
    width: 30px;
    height: 30px;
    background-origin: padding-box;

}


button{
    border-radius: 5px;
    padding: 5px;
    font-family: cursive;
    font-size: 14px;
    cursor: pointer;
    width: 90px;
    height: 53px;
}

/*ul li{
    list-style: none;
    position: relative;


}
/*ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("checked.jpg");
    background-size: cover;
    background-position: center;
}
    

ul li ::after{
    text-decoration: line-through;
}
    */
    
   


#place{
    font-size: large;
    padding: 16px;
    margin-top: 30px;
    
}

#navbar{
    
    
    color: brown;
    align-content: center;
    font-size: larger;
    margin-top: 0px;
    margin-bottom: 20px;
    
    height: 70px;

} 

#place{
    border-radius: 5px;
    font-size: medium;
}

